body{
    background-image: url("bg2.jpg");
    color: wheat;
    background-size: cover;
    background-repeat: no-repeat;
    /* No need to scroll sideways thats why x is hidden*/
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: "Comic Sans MS",cursive,sans-serif;
    text-decoration: none;
}
h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 20px;
    font-size: 48px;
    text-shadow: 5px 5px 5px rgb(24, 54, 52);
}
a:link{
    text-decoration: none;
}
a{
    color: slateblue;
    padding: 50px;
}